:root{
    --color--main:#233142; 
    --color--secondary:#455d7a;   
    --color--third:#f95959; 
    --color--fourth:#e3e3e3; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    line-height: 1.15;
    overflow: hidden;
    font-family: "Karla", sans-serif;
}

header{
    width: 100%;
    background-color: var(--color--main);
    color: var(--color--fourth);
    height: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

a svg{
    filter: invert(100%) sepia(3%) saturate(222%) hue-rotate(202deg) brightness(111%) contrast(78%);;
    width: 2em;
}

main{
    width: 100%;
    display: flex;
    height: 100%;
}

.menu{
    width: 90%;
    background-color: var(--color--secondary);
    height: 91vh;
    color: var(--color--fourth);
    position: absolute;
    transform: translateX(-90%);
    transition: 0.5s;
    padding: 0 1em;
    border-radius:0 50px 50px 0;

    & h2{
        text-align: center;
        padding: 1em 0 0 0;
    }

     h3{
     padding: 1em 0;   
    }
}

.show-menu{
    transform: translateX(0%);
}

.filter{
    
}

.sort{
 
}

form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form label input{
    margin: 0 1em 0 0;
}

.students{
    width: 100%;
    overflow: scroll;
}

.students div:nth-child(1){
    background-color: var(--color--third);
    height: 3em;
}

.students div:nth-child(2){
    display: flex;
    justify-content: center;
}

.students div:nth-child(2) ul{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(20, 1fr);
    grid-row-gap: 1em;
    grid-auto-flow: column;
}

.students div:nth-child(2) ul li{
display: flex;
flex-direction: column;
background-color: var(--color--secondary);
width: 150px;
height: 150px;

}

.students div:nth-child(2) ul img{
    height: 100px;
    width: fit-content;
    margin: auto;

}

@media (min-width: 40em){

    header{
        justify-content: center;
    }

    header svg{
     display: none;
    }

    .menu{
        width: 20%;
        background-color: var(--color--secondary);
        height: 100%;
        color: var(--color--fourth);
        position: static;
        transform: translateX(0px);
        border-radius: 0 0 0 0;
    
        & h2{
            text-align: center;
        }
    }

    .students{
        width: 80%;
        overflow: scroll;
    }

    .students div:nth-child(2) ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-auto-flow: column;
        grid-column-gap: 200px;
        justify-content: center;
    }
}